.button-container {
  margin: 3em 0.3em 1em 0;
  display: flex;
  justify-content: flex-end;
}

.turn-counter {
  pointer-events: none;
  margin: 0 0 0 1em;
}

.time-counter {
  pointer-events: none;
  margin: 0 0 0 1em;
}
