.button-container {
  margin: 1rem 0rem 1rem 0;
  display: flex;
  justify-content: flex-end;

  .game-control {
    position: relative;
    min-width: 140px;
  }

  .game-stat {
    pointer-events: none;
    margin: 0 0 0 1em;
  }

  .time-left-btn {
    display: flex;
  }
}
