.nav-container {
  width: 100%;

  // transform-style: preserve-3d;
  perspective: 1000px;
}
.navigation {
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  top: 1em;
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;

  //   background-color: #4ad1af;
  background-color: #009485;
  border-radius: 10px;
  padding: 0 1em;
  margin: 0.5em auto;

  // transform-style: preserve-3d;
  // perspective: 1000px;

  .brand-container {
    justify-self: flex-start;
  }

  .settings-title-on-nav {
    font-family: 'Mouse Memoirs', sans-serif;
    color: #ffff00;
    font-size: 2rem;
    text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
    margin: 0 auto;
    z-index: 2;
    text-align: center;
    transform: translateZ(50px);
  }

  .nav-links-container {
    box-sizing: border-box;
    position: relative;
    justify-content: flex-end;
  }

  .nav-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 0.5em;
    // color: #dedaba; // Bright greenish
    color: #73ffca;
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.175) 250ms;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);

    &:hover {
      color: #ffff00;
      //   text-shadow: rgba($color: #000000, $alpha: 0.5) 1px 1px 5px 1px;
      transform: translateY(-0.05em) scale(1.2, 1.2) rotate(1.2deg);
    }

    &:active,
    :focus {
      transform: scale(0.98, 0.98);
    }
  }
}
