.settings-title {
  font-family: 'Mouse Memoirs', sans-serif;
  //   color: #95dada;
  // color: #ffff00;
  color: #ffff00;
  font-size: 2rem;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
  margin: 0 auto;
  margin-bottom: 1rem;
  position: absolute;
  width: 100px;
  top: 1rem;
  left: 46%;
  z-index: 2;
  text-align: center;
  transform: translateZ(50px);
}

.settings-container {
  position: relative;
  width: 60%;
  max-width: 800px;
  margin: 3.5rem auto;
  padding: 3rem;
  padding-top: 6.2rem;
  padding-bottom: 3.5rem;
  user-select: none;
  background-color: #009485;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.08) 0px 15px 12px;

  // 3D hover
  transform-style: preserve-3d;
  perspective: 1000px;

  .settings-tab-container {
    position: absolute;
    display: flex;
    top: 2rem;
    left: 3.6rem;
    transform: translateZ(50px);

    .settings-tab {
      background: none;
      border: none;
      padding: 1rem 1.5rem;
      font-size: 2rem;
      cursor: pointer;
      color: #73ffca;
      margin-right: 0.5rem;
      transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.175) 250ms,
        color cubic-bezier(0.175, 0.885, 0.32, 1.175) 350ms;
      text-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;

      &:hover {
        color: #ffff00;
        text-shadow: rgba(0, 0, 0, 0.3) 10px 10px 20px;
        transform: translateY(-0.05em) translateZ(60px) scale(1.2, 1.2)
          rotate(1.4deg);
      }

      &:active,
      :focus {
        transform: scale(0.98, 0.98);
      }
    }

    .active-tab {
      color: #ffff00;
    }
  }

  .settings-inner-container {
    display: flex;
    padding-bottom: 1rem;
    justify-content: center;
    flex-direction: column;
    transform: translateZ(50px);
    // fix the jagged animation by forcing hardware acceleration
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000;

    &::before {
      content: '';
      position: absolute;
      top: 0rem;
      right: 0rem;
      bottom: 0rem;
      left: 0rem;
      border-radius: 15px;
      border: dotted 4px #ffff00;
      transform: translateZ(50px);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      perspective: 1000;
    }

    .game-settings-container {
      display: none;
    }

    .active-settings {
      display: block;
    }

    .settings-category {
      width: 100%;
      border-radius: 10px;
      padding: 1rem;
      line-height: 3rem;
      margin-bottom: 0rem;
      position: relative;
      z-index: 1;
      display: inline-block;
      font-size: 3.5rem;
      text-decoration: none;
      color: #73ffca;
      transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.175) 250ms,
        color cubic-bezier(0.175, 0.885, 0.32, 1.175) 350ms;
      text-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;

      span {
        pointer-events: none;
        user-select: none;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        z-index: 0;
        pointer-events: none;
        transition: opacity cubic-bezier(0.03, 0.98, 0.52, 0.99) 250ms;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
      }

      &:hover span {
        color: #ffff00;
      }
    }

    .card-back-group {
      display: flex;
      height: 160px;
      padding: 1rem 0.5rem;
      // overflow-x: hidden;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        height: 4px;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        border: 4px dotted #ffff00;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ffff00;
        border-radius: 10px;
        height: 10px;
      }
    }
  }

  .settings-button-container {
    display: flex;
    justify-content: space-around;
    transform: translateZ(50px);

    .menu-btn {
      display: inline-block;
      font-size: 3.5rem;
      text-decoration: none;
      background: none;
      border: none;
      cursor: pointer;
      color: #73ffca;
      padding: 0rem;
      padding-top: 2rem;
      transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.175) 250ms,
        color cubic-bezier(0.175, 0.885, 0.32, 1.175) 350ms;
      text-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;

      &:hover {
        color: #ffff00;
        text-shadow: rgba(0, 0, 0, 0.3) 10px 10px 20px;
        transform: translateY(-0.05em) translateZ(60px) scale(1.2, 1.2)
          rotate(1.4deg);
      }

      &:active,
      :focus {
        transform: scale(0.98, 0.98);
      }
    }
  }
}

// Range input styles
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  &::after {
    content: '';
    position: absolute;
    top: 8rem;
    right: 2rem;
    bottom: 2.45rem;
    left: 2rem;
    border-bottom: dotted 4px #ffff00;
  }

  &:hover {
    &::-webkit-slider-thumb {
      transform: scale(1.5, 1.5);
      box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
    }
  }

  &:active {
    &::-webkit-slider-thumb {
      transform: scale(1.3, 1.3);
      box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 7px;
    }
  }

  &::-webkit-slider-thumb,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #ffff00;
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.175) 250ms;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 7px;
  }
}

.disabled-menu {
  pointer-events: none;
  opacity: 0.5;

  &::before {
    content: 'UNDER CONSTRUCTION';
    font-size: 1.5rem;
    color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    transform: rotate(15deg);
  }
}
.cursor-not-allowed {
  cursor: not-allowed;
  user-select: none;
}
