.settings-title {
  font-family: 'Mouse Memoirs', sans-serif;
  //   color: #95dada;
  // color: #ffff00;
  color: #ffff00;
  font-size: 5em;
  margin: 2rem 0.3em;
  text-shadow: rgba(0, 0, 0, 0.8) 5px 5px 10px;
}

.settings-container {
  position: relative;
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem;
  background-color: #009485;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.08) 0px 15px 12px;

  // 3D hover
  transform-style: preserve-3d;
  perspective: 1000px;

  &::before {
    content: '';
    position: absolute;
    top: 3rem;
    right: 3rem;
    bottom: 3rem;
    left: 3rem;
    border-radius: 15px;
    border: dotted 4px #ffff00;
    transform: translateZ(50px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000;
  }

  .settings-inner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateZ(50px);
    // fix the jagged animation by forcing hardware acceleration
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000;

    .settings-category {
      border-radius: 10px;
      padding: 1rem;
      line-height: 3rem;
      margin-bottom: 0rem;
      position: relative;
      z-index: 1;
      display: inline-block;
      font-size: 3.5rem;
      text-decoration: none;
      color: #73ffca;
      transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.175) 250ms,
        color cubic-bezier(0.175, 0.885, 0.32, 1.175) 350ms;
      text-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;

      span {
        pointer-events: none;
        user-select: none;
      }

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        z-index: 0;
        pointer-events: none;
        transition: opacity cubic-bezier(0.03, 0.98, 0.52, 0.99) 250ms;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
      }

      &:hover span {
        color: #ffff00;
      }
    }

    label {
      font-size: 2rem;
      cursor: pointer;
    }

    .radio-label {
      display: inline-block;
      margin: 0 1rem;
      transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.175) 250ms,
        color cubic-bezier(0.175, 0.885, 0.32, 1.175) 350ms;

      &:hover {
        color: #ffff00;
        text-shadow: rgba(0, 0, 0, 0.3) 7px 7px 15px;
        transform: translateY(-0.05em) translateZ(60px) scale(1.2, 1.2)
          rotate(1.4deg);
      }

      &:active,
      :focus {
        transform: scale(0.98, 0.98);
      }
    }

    .radioSelected {
      color: #ffff00;
      // transform: scale(1.1, 1.1);
    }

    .radioNotSelected {
      color: #73ffca;
    }
  }

  .settings-button-container {
    display: flex;
    justify-content: space-around;

    .menu-btn {
      display: inline-block;
      font-size: 3.5rem;
      text-decoration: none;
      background: none;
      border: none;
      cursor: pointer;
      color: #73ffca;
      padding: 0rem;
      transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.175) 250ms,
        color cubic-bezier(0.175, 0.885, 0.32, 1.175) 350ms;
      text-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;

      &:hover {
        color: #ffff00;
        text-shadow: rgba(0, 0, 0, 0.3) 10px 10px 20px;
        transform: translateY(-0.05em) translateZ(60px) scale(1.2, 1.2)
          rotate(1.4deg);
      }

      &:active,
      :focus {
        transform: scale(0.98, 0.98);
      }
    }
  }
}

// Input styles
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  &::after {
    content: '';
    position: absolute;
    top: 8rem;
    right: 2rem;
    bottom: 2.45rem;
    left: 2rem;
    border-bottom: dotted 4px #ffff00;
  }

  &:hover {
    &::-webkit-slider-thumb {
      transform: scale(1.5, 1.5);
      box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
    }
  }

  &:active {
    &::-webkit-slider-thumb {
      transform: scale(1.3, 1.3);
      box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 7px;
    }
  }

  &::-webkit-slider-thumb,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #ffff00;
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.175) 250ms;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 7px;
  }
}

input[type='radio'] {
  display: none;
}
