.card-container {
  width: 250px;
  height: 250px;
  padding: 0;
  perspective: 600px;

  &:hover {
    cursor: pointer;
  }

  .card-body {
    background-color: #33866d;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* transform-origin: center right; */
    transition: transform 500ms ease-in-out;
  }

  & .flipped {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .card-front {
    transform: rotateY(180deg);
  }

  // .flipped .card-front {
  //   transform: rotateY(0deg);
  // }
}
