.settings-cardset-label-container {
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0.5rem;
  user-select: none;
  border-radius: 10px;
  background-color: #73ffca;
  overflow: hidden;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 15px;
    z-index: 2;
  }

  img {
    border-radius: 10px;
  }
}

.selected-card-set {
  background-color: #ffff00;
}

.card-back-radio-img {
  width: 100px;
  border: 1px dotted #73ffca;
}

.selected-card-back {
  border: 3px dotted #ffff00;
}
