.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  text-align: center;
  padding: 1em;
  // overflow: hidden;

  // font-family: 'Cairo', sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  // -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -webkit-transform: translateZ(0);
  // -webkit-backface-visibility: hidden;

  &.bg-default {
    background: url('assets/bg/bg-default.png');
  }

  &.bg-pattern-geometric-4 {
    background: url('assets/bg/bg-pattern-geometric-4.png');
  }

  &.bg-pattern-japanese {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.283' height='40' patternTransform='scale(2) rotate(50)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(179, 89%, 22%, 1)'/><path d='M46.189-20L57.736 0M46.189 20l11.547 20m-46.189 0l11.547 20M11.547 0l11.547 20m40.415 30H40.415M28.868 30H5.774m23.094-40H5.774m57.735 20H40.415m0 20L28.868 50m11.547-60L28.868 10m46.188 0L63.509 30M5.774 10L-5.773 30m75.056 10H46.189L34.64 20 46.19 0h23.094C73.13 6.667 76.98 13.333 80.83 20zM57.736 60H34.64L23.094 40l11.547-20h23.095c3.848 6.667 7.698 13.333 11.547 20L57.736 60zm0-40H34.64L23.094 0l11.547-20h23.095L69.283 0c-3.87 6.7-8.118 14.06-11.547 20zM34.64 60H11.547L0 40l11.547-20h23.094L46.19 40 34.64 60zm0-40H11.547L0 0l11.547-20h23.094L46.19 0 34.64 20zM23.094 40H0l-5.773-10-5.774-10L0 0h23.094l11.547 20-11.547 20z'  stroke-width='8' stroke='hsla(240, 51%, 13%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  }

  &.bg-pattern-hexagon {
    // background: url('assets/bg/bg-pattern-hexagon-2.svg');
    background: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50.41' height='87' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(182, 54%, 9%, 1)'/><path d='M25.3 87L12.74 65.25m0 14.5h-25.12m75.18 0H37.68M33.5 87l25.28-43.5m-50.23 29l4.19 7.25L16.92 87h-33.48m33.48 0h16.75-8.37zM8.55 72.5L16.92 58m50.06 29h-83.54m79.53-50.75L50.4 14.5M37.85 65.24L50.41 43.5m0 29l12.56-21.75m-50.24-14.5h25.12zM33.66 29l4.2 7.25 4.18 7.25M33.67 58H16.92l-4.18-7.25M-8.2 72.5l20.92-36.25L33.66 0m25.12 72.5H42.04l-4.19-7.26L33.67 58l4.18-7.24 4.19-7.25M33.67 29l8.37-14.5h16.74m0 29H8.38m29.47 7.25H12.74M50.4 43.5L37.85 21.75m-.17 58L25.12 58M12.73 36.25L.18 14.5M0 43.5l-12.55-21.75M24.95 29l12.9-21.75M12.4 21.75L25.2 0M12.56 7.25h-25.12m75.53 0H37.85M58.78 43.5L33.66 0h33.5m-83.9 0h83.89M33.32 29H16.57l-4.18-7.25-4.2-7.25m.18 29H-8.37M-16.74 0h33.48l-4.18 7.25-4.18 7.25H-8.37m8.38 58l12.73-21.75m-25.3 14.5L0 43.5m-8.37-29l21.1 36.25 20.94 36.24M8.37 72.5H-8.36'  stroke-width='1' stroke='hsla(174, 100%, 19%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  }
}

* {
  box-sizing: border-box;
  font-family: 'Mouse Memoirs', sans-serif;
  letter-spacing: 1px;
}

.btn {
  padding: 0.1em 1em;
  font-size: 1.5em;
  line-height: 40px;
  border-radius: 10px;
  // transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  // transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.675) 250ms,
  //   background-color cubic-bezier(0.175, 0.185, 0.32, 1.175) 200ms;
  // transform: scale(0.95, 0.95);
  background-color: #009485;
  color: #ffff00;
  border: none;
  // box-shadow: rgba(251, 255, 0, 0.95) 0px 10px 10px -20px;
  // box-shadow: rgba(251, 255, 0, 0.25) 5px 5px 12px 5px;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  box-shadow: rgba($color: #000000, $alpha: 0.3) 1px 1px 10px 1px;

  &:hover {
    cursor: pointer;
    // transform: translateY(-0.05em) scale(1, 1) rotate(1.2deg);
    // box-shadow: rgba($color: #000000, $alpha: 0.5) 5px 5px 20px 5px;
    // // border: 2px solid #cddd2b;
    // background-color: #ffff00;
    // color: #444444;
  }

  // &:active,
  // :focus {
  //   transform: scale(0.98, 0.98);
  // }
}
