:root {
  --menu: #009485;
  --title: #ffff00;
  --primary-text: #73ffca;
  --secondary-text: #3acaa7;
  --background-light: #bfe0e0;
  --background-dark: #0b2425;
  --background-image: url('./assets/bg/bg-default-dark.png');
}

/* Update these variables based on the active theme */
body.light {
  --background-image: url('./assets/bg/bg-default-light.png');
}

body.dark {
  --background-image: url('./assets/bg/bg-default-dark.png');
}

/* Background patterns */
body.bg-default-light {
  --background-image: url('./assets/bg/bg-default-light.png');
}

body.bg-default-dark {
  --background-image: url('./assets/bg/bg-default-dark.png');
}

body.bg-solid-light {
  --background-image: none;
  background-color: #bfe0e0;
}

body.bg-solid-dark {
  --background-image: none;
  background-color: #0b2425;
}

body.bg-pattern-geometric-4 {
  --background-image: url('./assets/bg/bg-pattern-geometric-4.png');
}

body.bg-pattern-japanese {
  --background-image: url('./assets/bg/bg-pattern-japanese.png');
}

body.bg-pattern-japanese-2 {
  --background-image: url('./assets/bg/bg-pattern-japanese-2.png');
}

body.bg-pattern-hexagon {
  --background-image: url('./assets/bg/bg-pattern-hexagon.png');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--background-image);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
