:root {
  --menu: #009485;
  --title: #ffff00;
  --primary-text: #73ffca;
  --secondary-text: #3acaa7;
  --background-light: #bfe0e0;
  --background-dark: #0b2425;
  --background-image: url('./assets/bg/bg-default-dark.png');
}

body {
  margin: 0;
  padding: 1em;
  text-align: center;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background-image: var(--background-image);
  background-size: auto;
  background-repeat: repeat;
  background-position: top left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light {
  --background-image: url('./assets/bg/bg-default-light.png');
}

body.dark {
  --background-image: url('./assets/bg/bg-default-dark.png');
}

/* Background patterns */
body.bg-default-light {
  --background-image: url('./assets/bg/bg-default-light.png');
}

body.bg-default-dark {
  --background-image: url('./assets/bg/bg-default-dark.png');
}

body.bg-solid-light {
  --background-image: none;
  background-color: #bfe0e0;
}

body.bg-solid-dark {
  --background-image: none;
  background-color: #0b2425;
}

body.bg-pattern-geometric-4 {
  --background-image: url('./assets/bg/bg-pattern-geometric-4.png');
}

body.bg-pattern-japanese {
  --background-image: url('./assets/bg/bg-pattern-japanese.png');
}

body.bg-pattern-japanese-2 {
  --background-image: url('./assets/bg/bg-pattern-japanese-2.png');
}

body.bg-pattern-hexagon {
  --background-image: url('./assets/bg/bg-pattern-hexagon.png');
}

body.bg-pattern-concentric-circles-3 {
  --background-image: url('./assets/bg/bg-pattern-concentric-circles-3.svg');
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='46.5' height='46.5' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(182, 54%, 9%, 1)'/><path d='M27.31-2.917a5 5 0 010 5.834m-8.12 0a5 5 0 010-5.834m-4.827 7.501a10 10 0 010-9.169m17.774.001a10 10 0 010 9.169M10.181 7.36a15 15 0 01-.001-14.722m26.14 0a15 15 0 010 14.724m-9.01 36.22a5 5 0 010 5.835m-8.12 0a5 5 0 010-5.834m-4.827 7.501a10 10 0 010-9.169m17.774.001a10 10 0 010 9.169M10.181 53.86a15 15 0 01-.001-14.723m26.14 0a15 15 0 010 14.724m6.12-27.693a5 5 0 010-5.834m-4.827 7.5a10 10 0 010-9.169M33.431 30.61a15 15 0 01-.001-14.722M4.06 20.332a5 5 0 010 5.835m4.827-7.501a10 10 0 010 9.169m4.183-11.947a15 15 0 010 14.724'  stroke-linecap='square' stroke-width='1' stroke='hsla(174, 100%, 20%, 1)' fill='none'/><path d='M43.582 42.44a5 5 0 015.835 0m-7.501-4.827a10 10 0 019.169 0M39.138 33.43a15 15 0 0114.724 0m-56.781 9.01a5 5 0 015.836 0m-7.501-4.827a10 10 0 019.169 0M-7.362 33.43a15 15 0 0114.724 0M49.417 4.06a5 5 0 01-5.834 0m7.501 4.827a10 10 0 01-9.169 0m11.946 4.182a15 15 0 01-14.723.001M2.917 4.06a5 5 0 01-5.834 0m7.501 4.827a10 10 0 01-9.169 0M7.36 13.069a15 15 0 01-14.722.001m27.694 6.12a5 5 0 015.835 0m0 8.12a5 5 0 01-5.834 0m7.5 4.827a10 10 0 01-9.168 0m.001-17.774a10 10 0 019.169 0m2.776 21.956a15 15 0 01-14.723.001m0-26.14a15 15 0 0114.724 0'  stroke-linecap='square' stroke-width='1' stroke='hsla(174, 100%, 29%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
