:root {
  --menu: #009485;
  --title: #ffff00;
  --primary-text: #73ffca;
  --secondary-text: #3acaa7;
  --background-light: #bfe0e0;
  --background-dark: #0b2425;
  /* --background-image: url('./assets/bg/bg-default-dark.png'); */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  /* padding: 1em; */
  text-align: center;
  /* height: 100dvh;
  width: 100vw; */
  overflow: hidden;
  /* background-image: var(--background-image); */
  background-size: auto;
  background-repeat: repeat;
  background-position: top left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-background {
  position: fixed;
  height: 100dvh;
  width: 100vw;
  z-index: -1;
}

.bg-synthwave-dark {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
